doctype html
head
    title= DataBase
    link(rel="stylesheet", href="/css/main.css")
body
    h1= title
    hr
     
    div 
        p
            a(href="/persons") Available Persons
        p
            a(href="/searchP") Search Persons
        p
            a(href="/addP") Add Person 
        p
            a(href="/cars") Available Cars
        p
            a(href="/searchC") Search Cars    
        p
            a(href="/addC") Add Car  



